.specialtyText {
  margin-top: -15px !important;
  display: block !important;
}

.navLink {
  display: inline-block;
  transition: transfrom 0.2s ease;
}
.navLink:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.inicioBox {
  background-color: rgb(255, 240, 246) !important;
}

.tituloSubrayado {
  text-decoration: underline !important;
  text-decoration-color: var(
    --mantine-color-pink-filled
  ) !important; /* Usamos la variable de Mantine */
  text-decoration-thickness: 3px !important;
  text-underline-offset: 7px !important;

  width: fit-content !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
:global(#inicio),
:global(#sobre-mi),
:global(#Servicios),
:global(#contacto) {
  scroll-margin-top: 110px;
}

.cardServicio {
  transition: all 0.3s ease;
  cursor: pointer;

  border: 1px solid var(--mantine-color-gray-3);
}

.cardServicio:hover {
  border-color: var(--mantine-color-pink-6) !important;
  transform: translateY(-5px);
  box-shadow: var(--mantine-shadow-md);
}

.cardServicio:hover .iconAnimate {
  transform: scale(1.15);

  color: var(--mantine-color-pink-7);
}

.iconAnimate {
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}
