.specialtyText {
  margin-top: -15px !important;
  display: block !important;
}

.navLink {
  display: inline-block;
  transition: transfrom 0.2s ease;
}
.navLink:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.inicioBox {
  background-color: rgb(255, 240, 246) !important;
}

.tituloSubrayado {
  position: relative;

  padding-bottom: 15px;
}

.tituloSubrayado::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); /* Centra la línea perfectamente */

  width: 60px;

  height: 4px;

  background-color: var(--mantine-color-pink-filled);

  border-radius: 2px;
}
:global(#inicio),
:global(#sobre-mi),
:global(#Servicios),
:global(#contacto) {
  scroll-margin-top: 110px;
}

.cardServicio {
  transition: all 0.3s ease;
  cursor: pointer;

  border: 1px solid var(--mantine-color-gray-3);
}

.cardServicio:hover {
  border-color: var(--mantine-color-pink-6) !important;
  transform: translateY(-5px);
  box-shadow: var(--mantine-shadow-md);
}

.cardServicio:hover .iconAnimate {
  transform: scale(1.15);

  color: var(--mantine-color-pink-7);
}

.iconAnimate {
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

.footer {
  background-color: var(--mantine-color-pink-filled);
  color: white;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-top: 80px;
}

.bottomFooter {
  @media (max-width: 48em) {
    flex-direction: column;
    gap: 10px;
    text-align: center;
    justify-content: center !important;
  }
}
